# Ignore everything by default.
*

# Whitelist anything that's a directory.
!*/

# Whitelisted files.
!.gitignore
!README.md
!alacritty.yml
!config.fish
!scripts/toggle-displays.sh
!i3/*
!Code/*/settings.json
!Code/*/keybindings.json
!nvim/*
!.vimdid/*
!.xbindkeysrc
