# Ignore everything by default.
*

# Whitelist anything that's a directory.
!*/

# Whitelisted files.
!.gitignore
!README.md
!alacritty.yml
!config.fish
!scripts/toggle-displays.sh
!scripts/set-display-resolution.sh
!i3/*
!Code/*/settings.json
!Code/*/keybindings.json
!nvim/*
!.vimdid/*
!.xbindkeysrc
!zellij/*

# Include fish functions except aws-profile.
!fish/functions/*
fish/functions/aws-profile.fish
